
h1, h2, h3 {
    text-align: center;
}

.img1 {
    display: block;
    margin: 0 auto;
}

h3 {
    color: #815AF2;
}

.h11 {
    color: #3638C0;
}

.h113 {
    color: brown;
}

.h114 {
    color: yellow; 
}

body {
    background-color: black;
}

.img55 {
    width: 150px;
}
